# ==========================================
# INFRASTRUCTURE VERSIONS
# ==========================================
POSTGRES_VERSION=18-alpine
REDIS_VERSION=8-alpine
PYTHON_VERSION=3.14-slim
NODE_VERSION=26-slim

# ==========================================
# DJANGO CORE (PRODUCTION)
# ==========================================
ENVIRONMENT=production
DEBUG=False

# IMPORTANT: Generate a new secure key without the $ character
# Command: python3 -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=

# Specify real domains separated by commas, without spaces
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com

# Specify domains with the required https:// protocol for CSRF to work
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

# ==========================================
# DOMAINS & SSL (Used by Nginx and Certbot)
# ==========================================
DOMAIN=yourdomain.com
WWW_DOMAIN=www.yourdomain.com
CERTBOT_EMAIL=mail@gmail.com

# ==========================================
# APP SETTINGS
# ==========================================
APP_NAME="ProfiFlow"
APP_TITLE="ProfiFlow 🦋 сервис онлайн-записи для бьюти-мастеров и студий"

TIME_ZONE=Europe/Moscow
LOG_LEVEL=INFO

# ==========================================
# DATABASE & CACHE
# ==========================================
POSTGRES_DB=prod_db
POSTGRES_USER=prod_user
POSTGRES_PASSWORD=your_super_complex_password_WITHOUT_$

# Put the same username, password, and database directly into the URL:
# Format: postgres://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=postgres://prod_user:your_super_complex_password_WITHOUT_$@db:5432/prod_db

CACHE_ENABLED=True
REDIS_URL=redis://redis:6379/1

# ==========================================
# EMAIL (Google SMTP)
# ==========================================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_email@gmail.com
# IMPORTANT: Use a Google "App password", not your main password
EMAIL_HOST_PASSWORD=your_16_character_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com
SERVER_EMAIL=your_email@gmail.com
