ENVIRONMENT=production
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=profiflow.pro,www.profiflow.pro
CSRF_TRUSTED_ORIGINS=https://profiflow.pro,https://www.profiflow.pro
HOST_NAME=https://profiflow.pro

APP_VERSION=0.7.0
APP_NAME=ProfiFlow
APP_NAME_LOWER=profiflow
APP_TITLE=ProfiFlow 🦋 сервис онлайн-записи для бьюти-мастеров и студий
TIME_ZONE=Europe/Moscow
PER_PAGE=4

DB_NAME=profiflow_pro
DB_USER=profiflow
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://redis:6379/1

WEB_CONCURRENCY=3
