# ==========================================
# DJANGO CORE
# ==========================================
# Удобно для ветвления логики в настройках (например: local, dev, prod)
ENVIRONMENT=local

DEBUG=True
SECRET_KEY=django-insecure-fhceq@c!+k39t(h-d-19q7yava9@wcad70&y*lv02xh$386oaf
ALLOWED_HOSTS=profiflow.loc,localhost,127.0.0.1

# Понадобится при деплое по HTTPS, чтобы CSRF-токены работали корректно
# CSRF_TRUSTED_ORIGINS=https://profiflow.pro

# ==========================================
# APP SETTINGS (ProfiFlow)
# ==========================================
APP_VERSION=0.4.0
APP_NAME=ProfiFlow
APP_NAME_LOWER=profiflow
APP_TITLE="ProfiFlow 🦋 сервис онлайн-записи для бьюти-мастеров и студий"
HOST_NAME=https://profiflow.loc
TIME_ZONE=Europe/Moscow
PER_PAGE=4

# ==========================================
# DATABASE (PostgreSQL)
# ==========================================
DB_NAME=profiflow_pro
DB_USER=profiflow
DB_PASSWORD=profiflow
DB_HOST=db
DB_PORT=5432

# ==========================================
# CACHE & REDIS
# ==========================================
CACHE_ENABLED=True
CACHE_TTL=900
# Если Redis в Docker, хост обычно 'redis', а не '127.0.0.1'
REDIS_LOCATION=redis://redis:6379/1

# ==========================================
# EMAIL (SMTP)
# ==========================================
DEFAULT_FROM_EMAIL=amurweb@gmail.com
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=amurweb@gmail.com
# EMAIL_HOST_PASSWORD=your_app_password
# EMAIL_USE_TLS=True
