SECRET_KEY=django-insecure-_zv%uh7q%(&be4=v$&pk+qt7%z@z0l0ubypzj3(y9y0pp=fu03

DEBUG=True

DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=5432

DEFAULT_FROM_EMAIL=default-mail@gmail.com

PER_PAGE=4

APP_NAME=Название проекта
HOST_NAME=https://project.loc

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://127.0.0.1:6379/1
