@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Оставляем переменные глобальными, без @layer */
:root {
    --jira-bg: #ffffff;
    --jira-panel: #f4f5f7;
    --jira-card: #ffffff;
    --jira-card-hover: #ebecf0;
    --jira-border: #EBECF0;
    --jira-text: #42526e;
    --jira-text-bright: #172b4d;
    --jira-primary: #0c66e4;
    --jira-primary-hover: #0052cc;
    --jira-accent: #0c66e4;
    --jira-accent-bg: #e9f2ff;
}

.dark {
    --jira-bg: #1d2125;
    --jira-panel: #22272b;
    --jira-card: #2c333a;
    --jira-card-hover: #353d45;
    --jira-border: #2A2F37;
    --jira-text: #9fadbc;
    --jira-text-bright: #c7d1db;
    --jira-primary: #0c66e4;
    --jira-primary-hover: #0052cc;
    --jira-accent: #579dff;
    --jira-accent-bg: #1c2b41;
}


@source "../../../**/*.{html,py,js}";
